*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #0b0d15;
    color: #e7e7e7; 
    min-height: 100vh;
    line-height: 1.5;
}
.image-gradient{
    position:absolute;
    top:0;
    right:0;
    opacity: 0.5;
    z-index: -1;
}
.layer-blur{
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 700px 20px #ff00c8;
    rotate: -30deg;
    z-index: -1;
}
:root{
  --header-h: 84px;
  --footer-h: 48px; 
}
header{
    block-size: var(--header-h); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    z-index: 999;
    margin-bottom: 0;
    padding-bottom: 0;
}
header h1{
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
}

nav{
    display: flex;
    gap: 3rem;
    align-items: center;
    margin-left: -5%;
}
nav a{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color: inherit;
    transition: color .3s ease;
}
nav a:hover{
    color: #ff00c8;
    opacity: 0.8;
}
.btn-signing{ 
    background-color: #a7a7a7;
    color: black;
    padding: 0.8rem 2rem;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.btn-signing:hover{
    background-color: white;
}
.main{
    min-height: calc(100vh - var(--header-h) - var(--footer-h));
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    
}
.slider{
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: min(400px, calc(100vh - var(--header-h)));
    overflow: hidden;
    color: black;
}
.item h1{
    text-align: center;
    margin-bottom: 1rem;
}
footer{
    height: var(--footer-h);
    padding-bottom: 1rem;
    padding-left: 1rem;
    margin: 0;
}
.item{
    position: absolute;
    width: 310px;
    height: 390px;
    text-align: justify;
    background-color: #ecdbff;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 140px);
    top: 0;
    font-size: 1rem;
}

#next, #prev{
    position: absolute;
    top: 50%;
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: 40px;
}
#next{
    left: unset;
    right: 40px;
}